<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<body>
    <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
    <div><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></div>

    <div><a href="/stats">Stats</a></div>
    <div><a href="/dashboard">Dashboard</a></div>
    <div><a href="/sentiment">Semtiment Analysis</a></div>


    <!-- Display Document Information -->
    <h1>Document Details</h1>
    <p>ID: {{ doc.id }}</p>
    <p>Title: {{ doc.title }}</p>
    <p>Description: {{ doc.description }}</p>
    <p>Date: {{ doc.doc_date }}</p>
    <p>Likes: {{ doc.likes }}</p>
    <p>Retweets: {{ doc.retweets }}</p>
    <p>Hashtags: {{ doc.hashtags }}</p>
    <p>URL: {{ doc.url }}</p>

    <!-- You can customize the displayed information based on your preferences -->

</body>
</html>
