{% extends "base.html" %}
{% block page_title %}Document Detail{% endblock %}

{% block content %}
    <header>
    <main>
        <h1>Document Details</h1>
        <p>ID: {{ doc.id }}</p>
        <p>Title: {{ doc.title }}</p>
        <p>Description: {{ doc.description }}</p>
        <p>Date: {{ doc.doc_date }}</p>
        <p>Likes: {{ doc.likes }}</p>
        <p>Retweets: {{ doc.retweets }}</p>
        <p>Hashtags: {{ doc.hashtags }}</p>
        <p>URL: {{ doc.url }}</p>
    </main>
{% endblock %}
